<div class="flex flex-col gap-2 p-8">
  <nui-form-field>
    <mat-icon>search</mat-icon>
    <input type="text" nuiInput />
  </nui-form-field>
  
  <nui-form-field appearance="underlined">
    <mat-icon>search</mat-icon>
    <input type="text" nuiInput />
  </nui-form-field>

  <nui-form-field display="block">
    <mat-icon>search</mat-icon>
    <input type="text" nuiInput />
  </nui-form-field>

  <nui-form-field appearance="underlined" display="block">
    <mat-icon>search</mat-icon>
    <input type="text" nuiInput />
  </nui-form-field>
</div>
