@use '@angular/material' as mat;

@import './../../../dist/components/src/assets/button.component';
@import './../../../dist/components/src/assets/checkbox.component';

@tailwind base;
@tailwind components;
@tailwind utilities;
@include mat.core();

$test-web-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($test-web-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table, tr, th, td, tbody, thead {
  background: transparent !important;
}
