<div class="flex flex-wrap flex-auto justify-center items-center px-8 py-4 rounded-lg">
  <div class="w-full">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minima iure omnis eaque perferendis voluptatibus maiores ea praesentium adipisci officiis quae veritatis aspernatur, dicta ad corrupti! Expedita error assumenda fugit!
  </div>

  <nui-divider></nui-divider>

  <div class="w-full">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo fugit modi facere nostrum saepe voluptas rem fuga, repellat odit possimus obcaecati dolores quidem praesentium inventore, enim ipsa ab repellendus numquam!
  </div>

  <nui-divider>divider with text</nui-divider>

  <div class="w-full">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo fugit modi facere nostrum saepe voluptas rem fuga, repellat odit possimus obcaecati dolores quidem praesentium inventore, enim ipsa ab repellendus numquam!
  </div>
</div>
